body{
    background-color: #4C7397;
    font-family:cursive;

}

.form-control{
    background-color:#E2E6EE ;  
}

.btn{
    background-color: #288FB4;
    color: white;
}  

.allform{
height: 515px;
width: 546px;
left: 770px;
top: 176px;
border-radius: 20px;
padding: 16px 30px 30px 30px;
size: 16px;
margin-top: 90px;
margin-bottom: 208px;
}

.logo{
text-align: center;
}

.formimg{
height: 60px;
width: 50px;
display: block;
margin-left: auto;
margin-right: auto;
width: 16%;
}

#phoneimg{
height: 686px;
width: 550Px;
}

optgroup { font-size:16px; }